[Unit]
Description=GoProve website
After=network.target

[Service]
Type=simple
User=aabouzied
Group=aabouzied
WorkingDirectory=/opt/goprove.dev
ExecStart=/opt/goprove.dev/goprove-site
Restart=always
RestartSec=3
Environment=PORT=18091
Environment=PUSHGATEWAY=http://rosetta:19091
Environment=GEOIP_DB=/opt/goprove.dev/GeoLite2-City.mmdb

[Install]
WantedBy=multi-user.target
